<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Cocktail Compendium</title>
</head>

<body>
<div class="header">
    <h1 class="page-title">The Cocktail & Cooking Compendium</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/search">Search</a>
    </nav>
</div>
<div class="main-content">
    <div class="results-container">
        <div class="response-area">
            <div class="intro">
                <h2>Your cocktail search results will appear below!</h2>
                <h3>To search a cocktail recipe, go to the search page</h3>
            </div>
            <hr><br>
            <% if (content && content.drinks && content.drinks!="no data found") { %>
                <% content.drinks.forEach(drink => { %>
                    <div class="cocktail-card">
                        <h2><%= drink.strDrink %></h2>

                        <h3>Ingredients:</h3>
                        <ul>
                            <% for (let i = 1; i <= 15; i++) {
                                const ingredient = drink[`strIngredient${i}`];
                                const measure = drink[`strMeasure${i}`];
                                if (ingredient) { %>
                            <li><%= measure ? measure.trim() : '' %> <%= ingredient %></li>
                            <% }} %>
                        </ul>

                        <h3>Instructions:</h3>
                        <p><%= drink.strInstructions %></p>
                        <hr>
                    </div>
                <% }) %>
            <% } else { %>
                <p>No cocktail results found, please try another search!</p>
            <% } %>

        </div>

        <div class="response-area">
            <div class="intro">
                <h2>Your meal recipe search results will appear below!</h2>
                <h3>To search a meal recipe, go to the search page</h3>
            </div>
            <hr><br>
                <% if (recipe && recipe.meals && recipe.meals!="no data found") { %>
                    <% recipe.meals.forEach(meal => { %>
                        <div class="cocktail-card">
                            <h2><%= meal.strMeal %></h2>

                            <h3>Ingredients:</h3>
                            <ul>
                                <% for (let i = 1; i <= 15; i++) {
                                    const ingredient = meal[`strIngredient${i}`];
                                    const measure = meal[`strMeasure${i}`];
                                    if (ingredient) { %>
                                <li><%= measure ? measure.trim() : '' %> <%= ingredient %></li>
                                <% }} %>
                            </ul>

                            <h3>Instructions:</h3>
                            <p><%= meal.strInstructions %></p>
                            <hr>
                        </div>
                    <% }) %>
                <% } else { %>
                    <p>No recipe results found, please try another search!</p>
                <% } %>
        </div>   
    </div>
</div>
</body>
</html>